footer.footer
    .container
        .row.align-items-center
            .col-4.col-md-3.col-sm-12.text-sm-center
                a.footer__logo(src="/")
            .col-4.col-md-6.col-sm-12.text-center
                p.footer__intro © 1998 – 2020 ООО «ДИФ». Все права защищены.
            .col-4.col-md-3.col-sm-12.text-right.text-sm-center
                p.footer__intro Разработано студией 
                    a.footer__link(href="/") SOHO
