header.header
    .container
        .row.align-items-center
            .col-2
                a.header__logo(href="/" title="")
            .col-6
                span.navbar-toggle#nav
                .navbar-collapse
                    span.navbar-close
                    .navbar.navbar_secondary
                        a.navbar__item.location.scroll(href="#maps" title="") Санкт-Петербург
                            <svg class="location__icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.00002 2.82401C5.92188 2.82401 5.0448 3.70111 5.0448 4.77922C5.0448 5.85736 5.92191 6.73444 7.00002 6.73444C8.07812 6.73444 8.95523 5.85733 8.95523 4.77922C8.95523 3.70111 8.07815 2.82401 7.00002 2.82401Z" fill="#ADADAD"/>
                                <path d="M6.99998 0C4.32322 0 2.14551 2.17771 2.14551 4.85447C2.14551 5.94937 2.91357 7.75384 4.42833 10.2178C5.5358 12.0192 6.65895 13.5395 6.67016 13.5546L6.99998 14L7.3298 13.5546C7.34101 13.5395 8.46416 12.0192 9.57163 10.2178C11.0864 7.75384 11.8545 5.94937 11.8545 4.85447C11.8545 2.17771 9.67674 0 6.99998 0ZM6.99998 7.55524C5.46928 7.55524 4.22399 6.30993 4.22399 4.77925C4.22399 3.24855 5.4693 2.00326 6.99998 2.00326C8.53066 2.00326 9.77597 3.24857 9.77597 4.77925C9.77597 6.30993 8.53068 7.55524 6.99998 7.55524Z" fill="#ADADAD"/>
                            </svg>
                        a.navbar__item.scroll(href="#about" title="") О нас
                        a.navbar__item.scroll(href="#delivery" title="") Доставка
                        a.navbar__item.scroll(href="#contact" title="") Контакты
                    .navbar.navbar_main
                        a.navbar__item.scroll(href="#product" title="") Продукция
                        a.navbar__item.scroll(href="#project" title="") Проектирование
                        a.navbar__item.scroll(href="#production" title="") Производство
                        a.navbar__item.scroll(href="#assembly" title="") Монтаж
            .col-2.text-right
                a.header__phone(href="tel:8 800 000 20 30") 8 800 000 20 30
            .col-2.text-right
                a.btn.btn_secondary(href="javascript;" data-fancybox="modal" data-src="#callback") Заказать звонок