.form{
    margin: 0;

    &__input{
        background-color: inherit;
        color: $white;
        border: 1px solid $border-color;
        padding: $spacer/3 $spacer/2;
        margin-bottom: $spacer/3;
        transition: .4s;

        &::placeholder{
            transition: .4s;
            color: $grey;
        }
        &:hover, &:focus{
            border-color: $border-color;
            outline: none;
        }
        &:focus::placeholder{
            opacity: 0;
        }
        // Для ошибок в MODx
        &.error{
            border-color: $red;
        }
        // Стилизация
        &_inverse{
            background-color: $white;
            border-color: $white;
            color: $black;

            &::placeholder{
                color: $dark-grey;
            }
        }
        // Состояние
        &--full{
            width: 100%;
        }
    }
    &__link-inverse{
        color: $white;
        &:hover, &:focus{
            color: $white;
            opacity: .8;
        }
    }
    &__agree{
        font-size: 12px;
        color: $grey;
        margin-top: $spacer/3;

        &_inverse{
            color: $white;
            .checkbox__label:before{
                border-color: $white;
            }
            .checkbox__input:checked + .checkbox__label:after{
                background-color: $white;
            }
        }
    }
}
.form_inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    &__input{
        flex: 0 0 calc(100% - 230px);
        max-width: calc(100% - 230px);
        margin-bottom: 0;
        height: 48px;
    }
    &__btn{
        flex: 0 0 220px;
        max-width: 220px;
        height: 48px;
    }
    &__agree{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.form-validation{
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 12px;

    &.error{
        color: $red!important
    }
}

.ajax_form span.error{
    color: $red!important;
    font-size: 12px;
}
.ajax_form .error-inverse{
    color: $white!important;
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .form_inline{
        &__input{
            flex: 0 0 calc(100% - 150px);
            max-width: calc(100% - 150px);
            margin-bottom: 0;
            height: 38px;
        }
        &__btn{
            flex: 0 0 140px;
            max-width: 140px;
            height: 38px;
            padding: 4px 10px 6px;
        }
    }
}