.navbar{
    &__item{
        margin-right: $spacer;
        &:hover, &:focus{
            text-decoration: none;
        }
    }

    &_secondary{
        font-size: 12px;
        margin-bottom: $spacer/4;
        .navbar__item{
            color: $grey;
            letter-spacing: .5px;
            &:hover, &:focus{
                color: $white;
            }
        }
    }
    &_main{
        font-size: 14px;

        .navbar__item{
            color: $white;
            letter-spacing: 1px;
            &:hover, &:focus{
                color: $red;
            }
        }
    }
}
.navbar-toggle{
    display: none;
}
.navbar-phone{
    display: none;
}
.navbar-location{
    display: none;
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .navbar-mobile{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .navbar-collapse{
        display: none;
    }
    .navbar-toggle{
        font-family: $font-family-base;
        font-size: 8px;
        font-weight: 800;

        text-transform: uppercase;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        &__icon{
            margin-bottom: 3px;
        }
    }
    .navbar-icon{
        font-family: $font-family-base;
        font-size: 8px;
        font-weight: 800;

        text-transform: uppercase;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        &__icon{
            margin-bottom: 3px;
        }
    }
}