.navbar{
    &__item{
        margin-right: $spacer;
        &:hover, &:focus{
            text-decoration: none;
        }
    }

    &_secondary{
        font-size: 12px;
        margin-bottom: $spacer/4;
        .navbar__item{
            color: $grey;
            letter-spacing: .5px;
            &:hover, &:focus{
                color: $white;
            }
        }
    }
    &_main{
        font-size: 14px;

        .navbar__item{
            color: $white;
            letter-spacing: 1px;
            &:hover, &:focus{
                color: $red;
            }
        }
    }
}
.navbar-toggle{
    display: none;
}
.navbar-icon{
    display: none;
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .navbar-mobile{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;

        // Перемещение в .row
        order: 2;
    }
    .navbar-collapse{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        width: 340px;
        max-width: 94%;
        height: 100%;
        min-height: 100vh;
        padding: $spacer;

        background: $black;
        transform: translateX(-340px);
        transition: .5s;
        
        filter: drop-shadow(4px 0px 10px #000);

        &--active{
            transform: translateX(0);
        }
    }
    .navbar{
        &__item{
            width: 100%;
            margin: 4px 0;
        }
        &_secondary{
            padding-bottom: 26px;
            margin-bottom: 26px;
            border-bottom: 1px solid $border-color;
        }
    }
    .navbar-toggle{
        font-family: $font-family-base;
        font-size: 8px;
        font-weight: 800;

        text-transform: uppercase;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-left: 20px;
        &__icon{
            margin-bottom: 5px;
        }
    }
    .navbar-icon{
        font-family: $font-family-base;
        font-size: 8px;
        font-weight: 800;

        white-space: nowrap;
        text-transform: uppercase;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        &__icon{
            margin-bottom: 5px;
        }

        &_phone{
            padding-left: 20px;
        }
    }
    .navbar-close{
        width: 24px;
        height: 24px;
        background: $body-bg url("../icon/close.svg") no-repeat center / 16px;

        display: block;

        position: absolute;
        top: 32px;
        right: 10px;
    }
    .navbar-overlay{
        position: fixed;
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 98;
        background: $dark-grey;

        opacity:0;
        transition: .4s;
        &--active{
            width: 100%;
            opacity: 0.8;
        }
    }
}