.content-advantage{
    &__block{
        overflow-x: auto;
    }
    &__row{
        min-width: 710px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content-advantage{
        &__block{
            margin-right: -$spacer/2;
        }
        &__row{
            padding-bottom: $spacer/2;
            padding-right: $spacer/2;
        }
    }
}