.footer{
    font-size: 12px;
    font-family: $font-family-heading;
    padding: 20px 0;
    color: $grey;
    background-color: $black;
    
    &__logo{
        width: 120px;
        height: 48px;

        display: inline-block;
        background: url('../icon/logo-full_inverse.svg') no-repeat left center/contain;
    }

    &__intro{
        font-size: 12px;
    }
}