.product{
    &__title{
        @extend .h1;
    }
    &__offer{
        width: 630px;
        max-width: 100%;
        margin: 18px auto 0;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .product{
        &__block{
            overflow-x: auto;
            margin-right: -$spacer/2;
        }
        &__row{
            min-width: 710px;
            padding-bottom: $spacer/2;
            padding-right: $spacer/2;
        }
    }
}