.services{
    &__subtitle{
        font-family: $font-family-heading;
        color: $grey;
        text-transform: uppercase;

        &:before{
            content: '—';
            margin-right: 6px;
        }
    }
    &__title{
        @extend .h1;
    }
    &__intro{
        color: $grey;
        margin-bottom: map-get($map: $spacers, $key: 4);
    }
    &__link{
        min-width: 50%;
    }
}