.services{
    &__subtitle{
        font-family: $font-family-heading;
        color: $grey;
        text-transform: uppercase;

        &:before{
            content: '—';
            margin-right: 6px;
        }
    }
    &__title{
        @extend .h1;
    }
    &__intro{
        color: $grey;
        margin-bottom: map-get($map: $spacers, $key: 4);
    }
    &__link-row{
        display: flex;
        flex-wrap: wrap;
    }
    &__link{
        font-size: 18px;
        min-width: 50%;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .services{
        &__intro{
            margin-bottom: map-get($map: $spacers, $key: 1);
        }
        &__link{
            font-size: 14px;
            min-width: 50%;
        }
    }
}