.list{
    list-style: none;
    padding: 0;
    margin: 0;

    &__item{
        margin-bottom: $spacer;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &_content{
        padding-left: $spacer/2;
        list-style: square;

        &__item{
            margin-bottom: $spacer/5;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &_numeric{
        padding-left: 28px;
        list-style: decimal-leading-zero;

        &__item{
            margin-bottom: $spacer/5;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .list{
        &__item{
            margin-bottom: $spacer/2;
        }
    }
}