.step{
    &__number{
        position: relative;

        color: $red;
        font-family: $font-family-heading;
        font-weight: $font-weight-heading;
        height: 46px;

        display: block;
        padding-bottom: 20px;
        
        &:after{
            content:'';
            display: block;

            background-color: $red;
            width: calc(100% + 24px);
            height: 1px;

            position: absolute;
            bottom: 0;
            left: 6px;

            z-index: 1;
        }
    }
    &__icon{
        position: absolute;
        bottom: -12px;
        left: -4px;
        z-index: 2;
    }
    &__title{
        font-family: $font-family-heading;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .5px;

        margin: 40px 0 20px;
    }
    &__intro{
        color: $grey;
        line-height: 1.2;
    }


    &--last{
        .step__number{
            font-size: 0;
            &:after{
                content: 'FINAL';
                height: auto;
                font-size: 48px;
                font-weight: 400;
                line-height: 1;
                background: inherit;
                left: 30px;
                bottom: -20px;
                max-width: calc(100% - 30px);
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .step{
        &__title{
            font-size: 13px;
            margin: 30px 0 10px;
        }
        &__intro{
            font-size: 13px;
        }
        &--last{
            .step__number{
                &:after{
                    font-size: 34px;
                    bottom: -10px;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .step{
        margin-bottom: $spacer;
        position: relative;
        &:after{
            content:'';
            display: block;

            background-color: $red;
            height: calc(100% + 24px);
            width: 1px;

            position: absolute;
            top: 10px;
            left: 8px;

            z-index: 1;
        }

        &__number{
            padding-left: $spacer;
            padding-bottom: 0;
            height: auto;
            &:after{
                display: none;
            }
        }
        &__icon{
            top: -2px;
            bottom: auto;
        }
        &__title{
            font-size: 1rem;
            margin: 15px 0 10px;
            padding-left: $spacer;
        }
        &__intro{
            padding-left: $spacer;
        }

        &--last{
            margin-bottom: 0;
            &:after{
                display: none;
            }
            .step__number{
                margin-bottom: 40px;
                &:after{
                    display: block;
                    font-size: 44px;
                    line-height: 1;
                    bottom: -30px;
                }
            }
        }
    }
}